body{
    font-family: 'roboto', sans-serif;
    margin: 0;
}
h1,h2,h3,h4,h5{
    margin: 0;
}

#header{
    width: 100%;
    height: 300px;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: top center;
    text-align: center;

    display: flex; /* Inicia o FlexBox*/
    flex-direction: column;
    justify-content: center;
}

#header h1{
color: #ffffff;
font-size: 48px;
}

#header h2{
color:#ffffff ;
font-size: 32px;
}

#content{
    width: 95%;
    max-width:700px;

    height: auto;
    margin: 80px auto;
   /* margin-left: auto;
margin-right: auto;
margin-top: 80px;
margin-bottom: 80px;*/
}

#content h3{
    color: #555555;
    font-size: 24px;

}
#content p{
    color:#555555;
    /*font-size:16px;*/
}

#content form{
    width: 300px;
}

#content input{
    width: 100%;
    height: 30px;
    box-sizing: border-box; /* Faz com que o padding/border não interfiram nas dimensões (largura/altura)*/
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin-bottom: 10px;
}
#content button {
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: #003366;
    color: #ffffff;
    transition: 0.3s;
}

#content button:hover{
   background-color: #000000;
   transform: rotate(5deg);
}

#flex-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#result{
    width: 350px;
    background-color: #0066cc;
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    padding: 20px 0;
    display: none;
}

#footer{
    background-color: #003366;
    color: #ffffff;
    text-align: center;
    padding: 17px 0;
    font-size: 14px;

}
#footer a {
    color: #ffffff;
}


/* Para tela de até 700px*/
@media (max-width:700px){

    #flex-content{
        flex-direction: column;
    }

    #content form, #result{
        width: 100%;
    }

    #result{
        margin-top: 20px;
    }
    
    #header h1{
        font-size: 32px;
    }

    #header h2{
        font-size: 20px;
    }

@media(max-width:430px){
    #header{
        background-image: url(../IMG/background-mob.jpg);
        height: 240px;
    }

    #content{
        margin: 30px auto;
    }
}

}
